

.ui-datepicker-trigger {
    background-color: #FFCA28;
    color:rgb(108,117,125);
    outline: none;
    border: none;
    cursor: pointer;
}

div#signin {
    width: 100vw;
    height: 100vh;
    background-color: #f4df62;
    text-align: center;
}

div#signin div#align {
    width: 34vw;
    height: 70vh;
    display: inline-block;
}

div#signin div#align div#title {
    width: inherit;
    position: relative;
    padding-left: 1vw;
    padding-top: 1vh;
    text-align: start;
    font-family: GenJyuuGothic-Medium;
    font-size: 5vh;
    letter-spacing: 0.5vw;
    color: #4b515f;
}

div#signin div#align div#container {
    background-color: #f7f6e4;
    width: inherit;
    height: 81vh;
    position: absolute;
    margin-top: 5vh;
    border-radius: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.0rem rgba(0, 123, 255, 0.25);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.0rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:valid,
.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.0rem rgba(220, 53, 69, 0.25);
}

.error {
    font-family: GenJyuuGothic-Medium;
    color: red;
}

.form-control.err {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.select-dummy.err {
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* .fa-times-circle {
    color: red;
    position: absolute;
    right: 0;
    
} */

.form {
    margin: auto;
}

.custom-select{
    background: none;
    font-family: GenJyuuGothic-Medium;
    padding: 0;
    
}


.formdiv,.form-inline{
    position: relative;
    height: 6vh;
}

.passworderror {
    display: none;
}

form input::placeholder{
    display: inline-block;
    width: 26vw;
    line-height: 4vh;
    font-family: GenJyuuGothic-Medium;
    font-size: 4vh;
    letter-spacing: 0.5vw;
    text-align: start;
}

.datepicker{
    margin-top: 2vh;
}

div#signin div#align div#container input{
    width: 26vw;
    height: 5vh;
    background-color: #f7f6e4;
    font-size: 3vh;
    padding-left: 3vw;
    margin-top: 2vh;
    border: 1px solid #4b515f;
    border-radius: 10px;
}

.select-dummy{
    width: 26vw;
    height: 5vh;
    background-color: #f7f6e4;
    padding-left: 3vw;
    margin-top: 2vh;
    border: 1px solid #4b515f;
    border-radius: 10px;
}

.select-dummy{
    color:rgb(108,117,125)
}

.custom-select{
    border:none;
    font-size: 4vh;
    color:rgb(108,117,125);
    height:100%;
    margin-top: -2%;
}

select{
    color:rgb(108,117,125);
}

.custom-select:focus{
    box-shadow: 0 0 0 0.0rem rgba(0, 123, 255, 0.25);
}

div#signin div#align div#container input:focus, div#signin div#align div#container select:focus{
    outline: none;
}

div#signin div#align div#container div.button {
    display: inline-block;
    width: 26vw;
    height: 5vh;
    background-color: #4b515f;
    border-radius: 10px;
    position: inherit;
    margin-top: 3vh;
    line-height: 3vh;
    padding-top: 1vh;
    font-family: GenJyuuGothic-Medium;
    font-size: 3vh;
    color: #f7f6e4;
}

div#signin div#align div#container div.button:hover {
    cursor: pointer;
}

.add-text {
    text-align: start;
    padding-left: 1vw;
    color: rgb(142, 145, 147);
    padding-top: 0.8vh;
}

.enroll {
    text-decoration: none;
}

div#signin div#logo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

div#signin div#logo img {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
}

@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("../../font/GenJyuuGothic-Medium.ttf");
}