@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("../../font/GenJyuuGothic-Medium.ttf")
}

@font-face {
    font-family: GenJyuuGothic-Light;
    src: url("../../font/GenJyuuGothic-Light.ttf")
}
#back {
    width: 100vw;
    height: 100vh;
    background-color: #4b515f;
    text-align: center;
}
.head{
    margin-top: 4rem;
    padding-right:22rem;
    display: inline-block;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.message{
    background-color: #f7f6e4;
    height: 60vh;
    margin-top: 5.5rem;
    margin-left: 10rem;
    display: inline-block;
    position: absolute;
    border-radius: 28px;
    text-align: center;
}
.container-fluid {
    padding: 0;
    height:100%;
}

.bannerbutton {
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #d0d9dc;
    font-family: GenJyuuGothic-Medium;
    color: #F7F6E3;
    padding: 1.2vh 2.5vh;
    color: #4B515F;
    outline: none;
    border: 0;
}

.bannerbutton:focus {
    outline: none;
}

.bannerbutton.active {
    background-color: #789fb3;
    color: #F7F6E3;
}
nav {
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    bottom: 15%;
    z-index: 9;
    margin-top: 20%;
}

nav a {
    color: inherit;
    font-size: 19.5pt;
    font-family: GenJyuuGothic-Medium;
    bottom: 10px;
    text-decoration: none;
}

#logo {
    position: absolute;
    bottom: 25%;
}

#navbar {
    position: absolute;
    width: 92%;
    border-bottom: #799FB4 solid 3px;
    margin: 30px 4% 0px 4%;
}

nav>ul {
    position: absolute;
    list-style: none;
    right: 0;
    margin: 0;
    color: #799FB4;
    padding: 0;
    bottom: 10px;
}

li {
    margin: 0 10px;
}

.nav-bg {
    height: 90px;
    width: 100%;
    background-color: #F7F6E4;
    position: relative;
}