div#signin {
    width: 100vw;
    height: 100vh;
    background-color: #f4df62;
    text-align: center;
}

div#signin div#align {
    width: 34vw;
    height: 70vh;
    display: inline-block;
}

div#signin div#align div#title {
    width: inherit;
    position: relative;
    padding-left: 1vw;
    padding-top: 1vh;
    text-align: start;
    font-family: GenJyuuGothic-Medium;
    font-size: 5vh;
    letter-spacing: 0.5vw;
    color: #4b515f;
}

div#signin div#align div#container {
    background-color: #f7f6e4;
    width: inherit;
    height: 54vh;
    position: absolute;
    margin-top: 14vh;
    border-radius: 28px;
    text-align: center;
}

form input::placeholder {
    display: inline-block;
    width: 26vw;
    line-height: 4vh;
    font-family: GenJyuuGothic-Medium;
    font-size: 4vh;
    letter-spacing: 0.5vw;
    text-align: start;
}

div#signin div#align div#container input {
    width: 26vw;
    height: 5vh;
    background-color: #f7f6e4;
    font-size: 3vh;
    padding-top: 1vh;
    padding-left: 3vw;
    margin-top: 4vh;
    border: 1px solid #4b515f;
    border-radius: 10px;
}

div#signin div#align div#container input:focus {
    outline: none;
}

div#signin div#align div#container div#button {
    display: inline-block;
    width: 26vw;
    height: 5vh;
    background-color: #4b515f;
    border-radius: 10px;
    position: inherit;
    margin-top: 3vh;
    line-height: 3vh;
    padding-top: 1vh;
    font-family: GenJyuuGothic-Medium;
    font-size: 3vh;
    color: #f7f6e4;
}

div#signin div#align div#container div#button:hover {
    cursor: pointer;
}

.add-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 1vh;
    text-align: start;
    padding-left: 1vw;
    color: rgb(142, 145, 147);
    padding-top: 0.8vh;
}

.enroll {
    text-decoration: none;
}

div#signin div#logo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

div#signin div#logo img {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
}

@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("./font/GenJyuuGothic-Medium.ttf");
}