@font-face{
  font-family:GenJyuuGothic-Medium;
  src: url("./font/GenJyuuGothic-Medium.ttf");
}
html,body{
  position:absolute;
  height: 100%;
  width:100%;
  z-index:0;
}
*{
  margin: 0;
  padding: 0;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;	
}

#section_1{
  position:relative;
  background-color:#F4DF62;
  bottom:0;
  height:100%;
  width:100%;
  z-index:-1;
  overflow:hidden;
}
#section_2{
  position:relative;
  bottom:0;
  height:100%;
  width:100%;
  z-index:0;
  overflow:hidden;
}
#section_3{

}
nav {
  position:absolute;
  margin: 15px 50px 0px 50px;
  z-index:10;
}
nav a{
  color: inherit;
  font-size:19.5pt;
  font-family:GenJyuuGothic-Medium;
  bottom:10px;
  text-decoration:none;
}
#logo{
  position:absolute;
  bottom:25%;
}

#navbar{
  position:absolute;
  width:92%;
  border-bottom:#799FB4 solid 3px;
  margin:15px 4% 0px 4%;
  
}
nav > ul{
  position:absolute;
  list-style:none;
  right:0;
  margin:0;
  color:#799FB4;
  padding:0;
  bottom:10px

}
li{
  margin:0 10px;
}

.nav-bg{
  position:fixed;
  height:80px;
  width:100%;
  background-color: #F7F6E4;
  z-index:10;
}

#top-house{
  position:absolute;
  transform:translate(-50%,40%);
  left:51%;
  bottom:50%;
  z-index:2;
  
}
#bottom-house{
  
  position:absolute;
  transform:translate(-50%,65%);
  left:51%;
  bottom:52%;
  z-index:0;
}

#base{
  position:absolute;
  transform:translate(-50%,80%);
  left:51%;
  bottom:50%;
  z-index:-1;
}

#topic{
  position:absolute;
  left:10vw;
  bottom:25vh;
  z-index:3;
}
#know-more{
  position:absolute;
  left:10vw;
  bottom:20vh;
  z-index:3;
}
#know-more:hover{
  filter: drop-shadow(5px 5px 20px white);
  cursor:pointer;
}
#houseworks{
  position:absolute;
  width:100%;
  height:100%;
  visibility:hidden;
  z-index:1;
}
.works{
  position:absolute;
	animation-delay:700ms;
}
#w1{
  top:50%;
  left:10%;
}
#w2{
  top:40%;
  left:30%;
}
#w3{
  top:54%;
  left:49%;
}
#w4{
  top:40%;
  left:70%;
}
#w5{
  top:50%;
  left:80%;
}
#darker-bg{
  position:absolute;
  width:100%;
  height:100%;
  background-color:gray;
  z-index:3;
  opacity:0.5;
}

#section_1_sub{
  position:absolute;
  width:100%;
  height:100%;
}

#sub-section-2{
  position:absolute;
  width:50%;
  height:100%;
  z-index:1;
}
.pg2-house{
  width:40%;
  position:absolute;
  height:100%;
  left:35%;
}
#top2{
  left:32%;
  top:27%;
  z-index:3;
}
#bottom2{
  left:33%;
  top:44%;
  z-index:2;
}
#base2{
  left:32%;
  width:42%;
  top:54%;
  z-index:1;
}

#houseworks-pg2{
  position:absolute;
  width:35%;
  z-index:2;
}

.works2{
  position:absolute;
  width:10%;
  z-index:2;
}

