@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("./font/GenJyuuGothic-Medium.ttf");
}

html,
body {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#section_1 {
    position: relative;
    background-color: #F4DF62;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#section_2 {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

#section_3 {
    position: relative;
    width: 100vw;
    height: 90vh;
}

nav {
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    bottom: 15%;
    z-index: 10;
    margin-top: 20%;
}

nav a {
    color: inherit;
    font-size: 19.5pt;
    font-family: GenJyuuGothic-Medium;
    bottom: 10px;
    text-decoration: none;
}

#logo {
    position: absolute;
    bottom: 25%;
}

#navbar {
    position: absolute;
    width: 92%;
    border-bottom: #799FB4 solid 3px;
    margin: 30px 4% 0px 4%;
}

nav>ul {
    position: absolute;
    list-style: none;
    right: 0;
    margin: 0;
    color: #799FB4;
    padding: 0;
    bottom: 10px;
}

li {
    margin: 0 10px;
}

.nav-bg {
    height: 13vh;
    width: 100%;
    background-color: #F7F6E4;
    position: fixed;
    z-index: 5;
}

#top-house {
    width: 32.3vw;
    height: 39.8vh;
    position: absolute;
    transform: translate(-50%, 40%);
    left: 51vw;
    /* bottom:50vh; */
    top: calc(-0.3vh + 80px);
    z-index: 2;
}

#bottom-house {
    width: 29.9vw;
    height: 51.5vh;
    position: absolute;
    transform: translate(-50%, 65%);
    left: 51vw;
    /* bottom:52vh; */
    top: calc(-14vh + 80px);
    z-index: 0;
}

#base {
    width: 33.1vw;
    height: 47vh;
    position: absolute;
    transform: translate(-50%, 80%);
    left: 51vw;
    /* bottom:50vh; */
    top: calc(-7.5vh + 80px);
    z-index: -1;
}

#topic {
    width: 46vw;
    height: 36vh;
    position: absolute;
    left: 10vw;
    /* bottom:25vh; */
    top: calc(28.5vh + 80px);
    z-index: 3;
}

#know-more {
    width: 11vw;
    height: 6.5vh;
    position: absolute;
    left: 10vw;
    /* bottom:18vh; */
    top: calc(63.5vh + 80px);
    z-index: 3;
}

#know-more:hover {
    filter: drop-shadow(5px 5px 20px white);
    cursor: pointer;
}

#houseworks {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
}

.works {
    position: absolute;
    animation-delay: 700ms;
}

.background {
    position: absolute;
    top: 20%;
    bottom: 10%;
    width: 100%;
    background-color: #F7F6E4;
}

.vision {
    width: 12vw;
    height: 12vh;
    position: absolute;
    top: 13.5%;
    left: 4%;
}

#w1 {
    width: 9.5%;
    top: calc(40% + 80px);
    left: 10%;
}

#w2 {
    width: 6.5%;
    top: calc(30% + 80px);
    left: 30%;
}

#w3 {
    width: 6.5%;
    top: calc(44% + 80px);
    left: 49%;
}

#w4 {
    width: 6.5%;
    top: calc(30% + 80px);
    left: 70%;
}

#w4_orange {
    top: 40%;
    left: 70%;
    transition: 3s;
    z-index: 0;
    transform: translate3d(0, 0, 0);
    opacity: 0;
}

#w5 {
    width: 6.5%;
    top: calc(40% + 80px);
    left: 80%;
}

#w1small {
    width: 10%;
    top: 50%;
    left: 10%;
}

#w2small {
    width: 10%;
    top: 40%;
    left: 30%;
}

#w3small {
    width: 10%;
    top: 54%;
    left: 49%;
}

#w4small {
    width: 10%;
    top: 40%;
    left: 70%;
}

#w5small {
    width: 10%;
    top: 50%;
    left: 80%;
}

#darker-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 3;
    opacity: 0.5;
}

#section_1_sub {
    position: absolute;
    width: 100%;
    height: 100%;
}

#sub-section-2 {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.pg2-house {
    width: 40%;
    position: absolute;
    height: 100%;
    left: 35%;
}

#top2 {
    left: 32%;
    top: 27%;
    z-index: 3;
}

#bottom2 {
    left: 33%;
    top: 44%;
    z-index: 2;
}

#base2 {
    left: 32%;
    width: 42%;
    top: 54%;
    z-index: 1;
}

#houseworks-pg2 {
    position: absolute;
    width: 35%;
    z-index: 2;
}

.works2 {
    position: absolute;
    width: 10%;
    z-index: 2;
}

#sub-section-2-right {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
    z-index: 1;
}

.carousel {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 400px;
    height: 300px;
}

.carousel_track-container {
    position: absolute;
    width: 24.7vw;
    height: 100%;
    overflow: hidden;
}

.leftLine {
    min-width: 0.2vw;
    height: 40vh;
    position: absolute;
    top: 10vh;
}

.carousel_track {
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in;
}

.carousel_slide {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
}

.first {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
}

.second {
    position: absolute;
    height: 100%;
    width: 100%;
}

.third {
    position: absolute;
    height: 100%;
    width: 100%;
}

.header {
    align-self: flex-start;
    font-family: GenJyuuGothic-Medium;
    font-size: 1.7vw;
    letter-spacing: 0.2em;
    margin-top: 10px;
}

.text {
    margin-top: 15%;
    font-size: 1.2vw;
    letter-spacing: 0.2em;
    line-height: 5vh;
    font-family: GenJyuuGothic-Light;
    padding-left: 3vw;
}

#back_1 {
    background-color: #F4DF62;
    left: 0;
    height: 0.5em;
    position: absolute;
    width: 17vw;
    top: 13px;
    z-index: -1;
}

#back_2 {
    background-color: #F4DF62;
    left: 0;
    height: 0.5em;
    position: absolute;
    width: 23vw;
    top: 13px;
    z-index: -1;
}

#back_3 {
    background-color: #F4DF62;
    left: 0;
    height: 0.5em;
    position: absolute;
    width: 17.5vw;
    top: 13px;
    z-index: -1;
}

.rightLine {
    min-width: 0.2vw;
    height: 50vh;
    position: absolute;
    z-index: 2;
    left: 24.5vw;
    top: 0;
}

.carousel_button {
    position: absolute;
    left: calc(24.5vw - 14px);
    top: 18vh;
    cursor: pointer;
    z-index: 3;
}

.example {
    width: 18vw;
    height: 56vh;
    left: 50%;
    top: 25%;
    position: absolute;
    opacity: 0;
}

#title {
    display: block;
    position: absolute;
    width: 25%;
    height: 25%;
    top: calc(3.4vh - 40px);
    left: 1.5vw;
    z-index: 1;
}

#titleImg {
    width: 18vw;
    height: 21vh;
    position: absolute;
}

#content_3 {
    background-color: #799FB4;
    display: block;
    position: absolute;
    width: 100vw;
    height: 75vh;
    top: calc(15vh - 40px);
}

#row_1 {
    display: flex;
    position: relative;
    width: 90vw;
    height: 30vh;
    left: 5vw;
    top: 4vw;
}

#row_2 {
    display: flex;
    position: relative;
    width: 90vw;
    height: 30vh;
    left: 5vw;
    top: 4vw;
}

.column {
    display: inline-block;
    position: absolute;
    width: 30vh;
    height: 30vh;
    padding-right: 10vw;
}

.teammemberName {
    display: inline-block;
    height: auto;
    width: 220px;
    max-width: 100%;
    position: absolute;
    margin-left: 1vw;
    z-index: 1;
}

.teammemberPic {
    display: inline-block;
    height: auto;
    width: 140px;
    max-width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 5.5vh;
    margin-left: calc(1vw + 40px);
}

.teammemberPic2 {
    display: inline-block;
    visibility: hidden;
    height: auto;
    width: 140px;
    max-width: 100%;
    position: absolute;
    z-index: 3;
    margin-top: 5.5vh;
    margin-left: calc(1vw + 40px);
}

.column:hover .teammemberPic2 {
    visibility: visible;
}

.intro {
    display: inline-block;
    height: auto;
    width: 290px;
    max-width: 100%;
    margin-left: 1vmin;
    position: absolute;
    top: 7vh;
}

@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("./font/GenJyuuGothic-Medium.ttf")
}

@font-face {
    font-family: GenJyuuGothic-Light;
    src: url("./font/GenJyuuGothic-Light.ttf")
}

.Name {
    display: inline-block;
    font-family: 'GenJyuuGothic-Medium';
    font-size: 3vmin;
    position: absolute;
    top: 3vh;
    left: 3vw;
    color: #F7F6E4;
}

.line {
    display: inline-block;
    font-family: 'GenJyuuGothic-Medium';
    font-size: 3vmin;
    position: absolute;
    top: 3vh;
    left: calc(3vw + 9.5vmin);
    margin: 0;
    color: #F4DF62;
}

.type {
    display: inline-block;
    font-family: 'GenJyuuGothic-Medium';
    font-size: 3vmin;
    position: absolute;
    top: 3vh;
    margin-top: 0px;
    left: calc(3vw + 11vmin);
    color: #F7F6E4;
}

.intro_text {
    letter-spacing: 0.15em;
    text-align: left;
    font-family: 'GenJyuuGothic-Light';
    font-size: 2vmin;
    position: absolute;
    top: calc(7vh + 3vmin);
    margin-left: 7vmin;
    width: 170px;
    color: #F7F6E4;
}