@media (max-width: 575px) {
    .right-mission {
        font-size: 0.5rem;
    }
    .btn {
        font-size: 0.5rem;
    }
    .space {
        letter-spacing: 1.8px;
        text-indent: 0.9px;
    }
}

@media (min-width: 576px) {
    .right-mission {
        font-size: 0.6rem;
    }
    .btn {
        font-size: 0.6rem;
    }
    .space {
        letter-spacing: 2.8px;
        text-indent: 1.4px;
    }
}

@media (min-width: 768px) {
    .right-mission {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.8rem;
    }
    .space {
        letter-spacing: 3.8px;
        text-indent: 1.9px;
    }
}

@media (min-width: 992px) {
    .right-mission {
        font-size: 1.0rem;
    }
    .btn {
        font-size: 0.8rem;
    }
    .space {
        letter-spacing: 4.8px;
        text-indent: 2.4px;
    }
}

@media (min-width: 1200px) {
    .right-mission {
        font-size: 1.3rem;
    }
    .btn {
        font-size: 1.3rem;
    }
    .space {
        letter-spacing: 5.8px;
        text-indent: 2.9px;
    }
}

@font-face {
    font-family: GenJyuuGothic-Medium;
    src: url("./font/GenJyuuGothic-Medium.ttf")
}

@font-face {
    font-family: GenJyuuGothic-Light;
    src: url("./font/GenJyuuGothic-Light.ttf")
}

.container-fluid {
    padding: 0;
}

nav {
    position: absolute;
    margin: 15px 50px 0px 50px;
    z-index: 10;
    margin-top: 20%;
}

nav a {
    color: inherit;
    font-size: 19.5pt;
    font-family: GenJyuuGothic-Medium;
    bottom: 10px;
    text-decoration: none;
}

#logo {
    position: absolute;
    bottom: 25%;
}

#navbar {
    position: absolute;
    width: 92%;
    border-bottom: #799FB4 solid 3px;
    margin: 30px 4% 0px 4%;
}

nav>ul {
    position: absolute;
    list-style: none;
    right: 0;
    margin: 0;
    color: #799FB4;
    padding: 0;
    bottom: 10px;
}

li {
    margin: 0 10px;
}

.nav-bg {
    height: 80px;
    width: 100%;
    background-color: #F7F6E4;
}


/* 
.banner {
    background-color: #F7F6E4;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.inner-banner {
    width: 95%;
    height: 70%;
    align-self: center;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #789FB3;
}

.s_topic {
    max-width: 100%;
}

.banner-list { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.banner-list>li {
    margin-left: 5%;
}

.banner-href {
    text-decoration: none;
    font-family: GenJyuuGothic-Medium;
    color: #799FB4;
    font-size: 1rem;
}

.banner-href:hover {
    text-decoration: none;
}
*/

.row {
    justify-content: space-between;
    margin: 0px;
}

.topic {
    margin-bottom: 0.5vh;
}

.topic .left {
    display: flex;
    align-items: center;
    background-color: #4B515F;
    width: 64%;
    height: 10vh;
    padding-left: 3%;
}

.topic .right {
    display: flex;
    align-items: center;
    background-color: #4B515F;
    width: 35%;
    height: 10vh;
    padding-left: 3%;
}

.topic .left h3,
.topic .right h3 {
    font-family: GenJyuuGothic-Medium;
    letter-spacing: 7.6px;
    color: #F7F6E3;
}

.left-floorplan {
    width: 60%;
    height: 70vh;
}

.right-mission {
    width: 35%;
    height: 70vh;
    background-color: #4B515F;
}

.solve-btn,
.request-btn {
    background-color: #F7F6E3;
    border: none;
    color: #4B515F;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.5;
    position: relative;
    margin-top: 10%;
    width: 25%;
    height: 7%;
    font-family: GenJyuuGothic-Medium;
    letter-spacing: 5.8px;
}

.request-btn {
    margin-left: 10%;
}

.solve-btn {
    margin-left: 2%;
}

.request-btn:focus {
    outline: 0;
}

.solve-btn:focus {
    outline: 0;
}

.solve-btn::before {
    content: attr(data-before);
    position: absolute;
    color: #F7F6E3;
    right: 0;
    top: 0;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: #FC9D5D;
    transform: translateY(-50%);
}

.requestContainer {
    width: 90%;
    height: 75%;
    padding: 4%;
    margin: auto;
    position: relative;
    z-index: 3;
}

.request-mission {
    display: block;
}

.reqPanel {
    width: 100%;
    height: 100%;
    background-color: #F7F6E4;
    color: #4B515F;
    font-family: GenJyuuGothic-Medium;
    border-radius: 10px;
    padding-left: 0.5rem;
    margin: auto;
    position: relative;
    z-index: 4;
    box-shadow: 5px 10px #FFCA28;
}

.head {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formset {
    height: 12%;
    width: 100%;
}

.formset div {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.content {
    height: 100%;
    display: flex;
}

.content-label {
    margin-right: 3%;
    align-self: center;
    margin-bottom: 0;
}

#inputcontent {
    width: 60%;
    height: 100%;
}

.suggest {
    display: flex;
}

.suggest-label {
    margin-right: 3%;
    align-self: center;
    margin-bottom: 0;
}

#inputsuggest {
    width: 60%;
    resize: none;
    vertical-align: top;
}

.deadline {
    display: flex;
}

.deadline-date-label {
    margin-right: 3%;
    align-self: center;
    margin-bottom: 0;
}

#datepicker {
    width: 25%;
    font-size: 60%;
}

.ui-datepicker-trigger {
    background-color: #FFCA28;
    outline: none;
    border: none;
    cursor: pointer;
}

.deadline-time-label {
    margin-right: 3%;
    align-self: center;
    margin-bottom: 0;
}

#timepicker {
    width: 20%;
    font-size: 60%;
}

.confirm-request {
    text-align: center;
}

.confirm-solve {
    display: flex;
    justify-content: center;
}

.tabContainer {
    width: 90%;
    height: 75%;
    padding: 4%;
    margin: auto;
}

.solve-mission {
    display: none;
}

.tabContainer .buttonContainer {
    height: 5%;
    width: 100%;
    display: flex;
    position: relative;
    left: 0.8rem;
}

.tabContainer .buttonContainer button {
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.tabContainer .tabPanel {
    height: 95%;
    color: #4B515F;
    display: none;
    font-family: GenJyuuGothic-Medium;
    border-radius: 10px;
    display: flex;
    position: relative;
    box-shadow: 5px 10px #FFCA28;
}

.tabContainer .tabPanel * {
    margin-top: 0.5rem;
    /* padding: 0.5rem; */
    padding-left: 0.5rem;
}

.exhibit {
    width: 25%;
    height: 25%;
}

.dialogue {
    position: relative;
    text-align: center;
    display: inline-block;
    height: 25%;
    width: 70%;
}

.dialogue-img {
    height: 100%;
    width: 100%;
}

.dialogue-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 6.6px;
}

.mission-div {
    height: 12%;
    display: flex;
}

.mission-text {
    margin-right: 3%;
    align-self: center;
}

.mission-div img {
    width: 15%;
    height: 100%;
}

.white-block {
    width: 60%;
    background-color: #fff;
    height: 100%;
}

.member {
    opacity: 0.5;
}

.member:hover {
    cursor: pointer;
}

.member.on {
    opacity: 1;
}

.btn {
    border-radius: 20px;
    margin: 5px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
}

.accept,
.judge,
.getcase {
    background-color: #4B515F;
    color: #F7F6E3;
    height: 12%;
    width: 35%;
}

.accept {
    opacity: 1;
}

.judge {
    opacity: 0.5;
}

.accept.press,
.judge.press {
    opacity: 0.5;
}

#floorplan {}

.floor-item:hover {
    cursor: pointer;
}

.floor-item.border {
    stroke: #789FB3;
    stroke-width: 3px;
    stroke-linejoin: round;
}

select {
    -webkit-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: text;
}