<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, X-Content-Type-Options=nosniff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./src/css/lib/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./src/css/lib/jquery-ui-themes-1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./src/lib/timepicker/jquery.timepicker.css">
    <link rel="stylesheet" href="./src/css/game.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Project</title>
</head>

<body onload="getUser()">
    <div class="container-fluid">
        <div class="mask"></div>
        <div class="check">
            <p class="notify">通知</p>
            <p class="alert-mess">任務已發佈</p>
            <button class="checkconfirm ">確定</button>
        </div>
        <div class="banner">
            <div class="nav-bg">
                <nav class="navbar " id="navbar">
                    <a href="index.html" class="navbar-brand">
                        <span id="logo">
                            <img src="./img/s_topic.png" class="d-inline-block align-top">
                        </span>
                    </a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <button class="bannerbutton" href="#">任務地圖</button>
                        </li>
                        <li class="list-inline-item">
                            <button class="bannerbutton" href="#">任務總覽</button>
                        </li>
                        <li class="list-inline-item">
                            <button class="bannerbutton" href="#">排行與積分</button>
                        </li>
                        <li class="list-inline-item">
                            <!-- <a href="login.html">登入</a> -->
                            <img id="UserImg" alt="" srcset="" style=" border-radius: 50%;width: 50px;height: 50px;">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row  topic">
            <div class="left">
                <h3>家中格局</h3>
            </div>
            <div class="right">
                <h3>家事進度</h3>
            </div>
        </div>

        <div class="row justify-content-between ">

            <div id="floorplan" class="left-floorplan">
            </div>

            <div class="right-mission" id="app">

                <button class="request-btn active space">發任務</button>
                <button class="solve-btn space" id="solve_btn">解任務</button>



                <div class="requestContainer request-mission ">
                    <div class="reqPanel">
                        <div class="head space"><i class="fa fa-map-marker" aria-hidden="true"></i>任務地點</div>
                        <form class="formset " id="addTasks" novalidate="">
                            <div class="content">
                                <label class="content-label space" for="inputcontent">任務內容</label>
                                <input type="text" id="inputcontent" name="content" required>
                            </div>
                            <div class="suggest">
                                <label class="suggest-label space" for="inputsuggest">任務建議</label>
                                <textarea id="inputsuggest" rows="3" cols="20" name="advise" required></textarea>
                            </div>
                            <div class="deadline">
                                <label class="deadline-date-label space" for="datepicker" >任務期限</label>
                                <input type="text" id="datepicker" name="date" required readonly>
                                <label class="deadline-time-label" for="timepicker"></label>
                                <input type="text" id="timepicker" name="time" required readonly>
                            </div>
                            <div id="error_space">
                            </div>
                            <div id="error_type">
                            </div>
                            <div class="confirm-request">
                                <button type="submit" class="btn getcase space" id="task_btn">確定</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tabContainer solve-mission">
                    <div class="buttonContainer" id="Panelbtns">
                        <button v-for="(show,index) in shows" :class={active:show} v-on:click="showPanel(index)"></button>
                    </div>

                    <template v-for="(task,index) in tasks">
                        <div class="tabPanel" :class={active:shows[index]}>
                            <img  alt="" class="exhibit" v-bind:src="task.icon" >
                            <div class="dialogue">
                                <img src="./img/dialogue.png" alt="" class="dialogue-img">
                                <p class="dialogue-text">{{task.content}}</p>
                            </div>

                            <div class="mission-div">
                                <span class="mission-text space">任務建議</span>
                                <span class="white-block">{{task.advise}}</span>
                            </div>
                            <div class="mission-div">
                                <span class="mission-text space">成員邀請</span>
                                <i class="fa fa-arrow-left" :class="{hide: task.members.length<=4 }" aria-hidden="true" v-on:click="turnleft(index)"></i>
                                <template v-for="(member,mindex) in task.members" > 
                                    <img :class="{member:true,on:member.on,show:(mindex>=0 && mindex < 4)}" :src="member.icon" v-on:click="memberchoose(index,mindex)"  alt="">
                                </template >
                                <i class="fa fa-arrow-right" :class="{hide: task.members.length<=4 }" aria-hidden="true" v-on:click="turnright(index)"></i>
                            </div>
                            <div class="mission-div">
                                <span class="mission-text space">剩餘時間</span>
                                <span class="white-block DeadlineTime">{{task.remain}}</span>
                            </div>
                            <div class="confirm-solve">
                                <button type="button" class="btn accept space"  :class="{press : task.missionstate}" v-on:click="missiontoggle(index,0)">接案</button>
                                <button type="button" class="btn judge space" :class="{press :!task.missionstate}"  v-on:click="missiontoggle(index,1)" > 送出審核</button>
                            </div>
                        </div>
                    </template>

                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js " integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js " integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k " crossorigin="anonymous "></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="./src/lib/timepicker/jquery.timepicker.min.js"></script>
    <script src="./src/js/generator.js"></script>
    <script src="./src/js/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</body>

</html>
