div#signin {
  width: 100vw;
  height: 100vh;
  background-color: #f4df62;
  text-align: center; }
  div#signin div#align {
    width: 34vw;
    height: 70vh;
    display: inline-block; }
    div#signin div#align div#title {
      width: inherit;
      height: 28vh;
      position: absolute;
      margin-top: 20vh;
      padding-left: 1vw;
      text-align: start;
      font-family: GenJyuuGothic-Medium;
      font-size: 5vh;
      letter-spacing: 0.5vw;
      color: #4b515f; }
    div#signin div#align div#container {
      background-color: #f7f6e4;
      width: inherit;
      height: 43vh;
      position: absolute;
      margin-top: 28vh;
      border-radius: 28px;
      text-align: center; }
      div#signin div#align div#container div.text {
        display: inline-block;
        width: 26vw;
        height: 5vh;
        padding-top: 4vh;
        font-family: GenJyuuGothic-Medium;
        font-size: 4.5vh;
        letter-spacing: 0.5vw;
        color: #4b515f;
        text-align: start; }
      div#signin div#align div#container input {
        display: inline-block;
        width: 26vw;
        height: 5vh;
        border: none;
        border-bottom: 0.3vh solid #4b515f;
        background-color: #f7f6e4;
        font-size: 3vh;
        padding-top: 1vh; }
      div#signin div#align div#container input:focus {
        outline: none; }
      div#signin div#align div#container div#button {
        display: inline-block;
        width: 7vw;
        height: 7vh;
        background-color: #4b515f;
        border-radius: 10px;
        position: inherit;
        margin-left: 17vw;
        margin-top: 3vh;
        font-family: GenJyuuGothic-Medium;
        font-size: 4.5vh;
        color: #f7f6e4; }
      div#signin div#align div#container div#button:hover {
        cursor: pointer; }
  div#signin div#logo {
    position: absolute;
    padding-left: 3vw;
    padding-top: 5vh; }
    div#signin div#logo img {
      width: 30vw;
      height: 16vh; }

body {
  margin: 0; }

@font-face {
  font-family: GenJyuuGothic-Medium;
  src: url("./font/GenJyuuGothic-Medium.ttf"); }
